@using Newtonsoft.Json;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>

    <h3>Project Info</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <td>Project Name</td>
            <td>@ViewBag.project.ProjectName</td>
        </tr>
        <tr>
            <td>Project ID</td>
            <td>@ViewBag.project.ProjectID</td>
        </tr>
        <tr>
            <td>Report Title</td>
            <td>@ViewBag.project.ReportTitle</td>
        </tr>
        <tr>
            <td>Report ID</td>
            <td>@ViewBag.project.ReportID</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@ViewBag.project.Email</td>
        </tr>
                <tr>
            <td>Summary excel?</td>
            <td>@ViewBag.project.DevelopSummaryExcel</td>
        </tr>
                <tr>
            <td>Report?</td>
            <td>@ViewBag.project.DevelopReport</td>
        </tr>


        <td>
            @JsonConvert.SerializeObject(ViewBag.project)
        </td>
    </table>

    String: @ViewBag.answer
</body>
</html>

@*<tr>
    <td>Excel file</td>
    <td><a href="~/files/@ViewBag.project.ExcelFile" /></td>
</tr>*@